body {
  font-family: sans-serif;
  font-size: 15px;
}
table, th, td {
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  border-collapse:
  collapse; background-color: #f1f1c1;
}
.botao {
  height: 28px;
  width: 170px;
  align-content: center;
  font-size: 14px;
}
.linha {
  height: 30px;
}
