body{
  max-width: 900px;
}

.textologo {
  font-size: 18px;
  padding-left: 10px;
}

.imagemlogo {
  margin-left: 20px;
}

.campoinfo {
  font-size: 14px;
  padding-left: 20px;
}

.botao1 {
  font-size: 12px;
  height: 22px;
  width: 70px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 5px;
}

.botao2 {
  font-size: 12px;
  height: 22px;
  width: 85px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.botao3 {
  font-size: 12px;
  height: 22px;
  width: 100px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.botao4 {
  font-size: 12px;
  height: 22px;
  width: 140px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.botao5 {
  font-size: 12px;
  height: 22px;
  width: 70px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.botao6 {
  font-size: 12px;
  height: 22px;
  width: 85px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.primeiralinhaform {
  padding-top: 7px;
}

.textocolesq {
  font-size: 14px;
  width: 140px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
}

.textocolmeio {
  font-size: 14px;
  width: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

.textocoldir {
  font-size: 14px;
  width: 180px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: right;
}

.campoformsup {
  font-family: serif;
  font-size: 14px;
  height: 20px;
  width: 100px;
  margin-top: 1px;
  margin-left: 10px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.campoform {
  font-family: serif;
  font-size: 14px;
  height: 20px;
  width: 690px;
  margin-top: 1px;
  margin-left: 10px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.campoartigo {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

textarea.noscrollbars {
  overflow: hidden;
  width: 99%;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
