body{
  max-width: 1000px;

}

.textologo{
  font-size: 20px;
  padding-left: 10px;
}

.imagemlogo{
  margin-left: 20px;
}

.tituloartigo{
    padding-top: 20px;
    font-size: 40px;
}

.textocolesq {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
}

.campoform {
  font-family: serif;
  font-size: 14px;
  height: 20px;
  width: 500px;
  margin-top: 1px;
  margin-left: 10px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.botaoentraresq {
  font-size: 12px;
  height: 20px;
  width: 80px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.areadetexto{
  font-size: 12px;
  margin-top: 10px;
  margin-left: 20px;
}

.campoartigo {
  font-size: 14px;
  max-width: 1000px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

textarea.noscrollbars {
  overflow: hidden;
  width: 99%;
  font-size: 14px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.campoinfo{
  font-size: 12px;
  margin-top: 10px;
  margin-left: 20px;
}

.textoartigo{
    text-align: justify;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.textoobs{
    text-align: right;
    font-size: 20px;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.textopublicacao {
    text-align: right;
    font-size: 18px;
    font-style: italic;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;

}

.textoautor{
    text-align: right;
    font-size: 18px;
    padding-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.artigos{
    background-color: #d1eaf0;
    margin-left: 10px;
    margin-right: 10px;
}
